<div>This is the original template</div>

<div>{{message}}</div>
<div>
  External state: {{externalCounter}} <button {{action "incrementeExternalCounter"}}>Increment</button>
</div>
<div>Internal state: {{internalCounter}} <button {{action "incrementeInternalCounter"}}>Increment</button></div>
<div>{{message}}</div>
<button {{action "myAction"}}>Component action</button>
<div>Yielded content goes inside a yellow box</div>
{{#if hasBlock}}
  <div class="yield-wrapper">
    {{yield}}
  </div>
{{/if}}